.dialog
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .dialog .frame
    {
        padding: 1rem;
        background-color: #fff;
        width: 80%;
        min-width: 300px;
        max-width: 800px;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-left: 0.5rem solid #000;
    }

        .dialog .frame h2
        {
            font-weight: 300;
            margin-bottom: 1rem;
        }

        .dialog .frame .split-line
        {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .dialog .frame .line
        {
            font-size: 0.9rem;
            flex: 1;
            margin-bottom: 1rem;
        }

            .dialog .frame ul
            {
                list-style: none;
            }

                .dialog .frame ul li
                {
                    padding: 0.5rem;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 0.25rem;
                    cursor: pointer;
                    margin-bottom: 0.25rem;
                    transition: background-color 0.3s;
                }

                    .dialog .frame ul li:hover
                    {
                        background-color: rgba(0, 0, 0, 0.2);
                    }

            .dialog .frame .invisible
            {
                display: none;
            }

        .dialog .frame .buttons
        {
            padding-top: 1rem;
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

            .dialog .frame button.submit
            {
                padding: 0.5rem 1rem;
                background-color: var(--color-palette-primary);
                color: #fff;
                border: none;
                border-radius: 0.25rem;
                cursor: pointer;
                transition: background-color 0.3s;
            }

                .dialog .frame button.submit:hover
                {
                    background-color: rgba(0, 0, 0, 0.7)
                }
            
            .dialog .frame button.secondary
            {
                padding: 0.5rem 1rem;
                background-color: rgba(0, 0, 0, 0.1);
                color: #000;
                border: none;
                border-radius: 0.25rem;
                cursor: pointer;
                transition: background-color 0.3s;
            }

                .dialog .frame button.secondary:hover
                {
                    background-color: rgba(0, 0, 0, 0.2)
                }